<link rel="stylesheet" href="/css/main.css" />
<nav class="w-full px-8 py-2">
    <a class="  text-gray text-2xl font-bold px-4<%= (page == "/") ? 'active' : '' %>" href="/">Home</a>
    <a class="  text-gray text-2xl font-bold px-6<%= (page == "/about") ? 'active' : '' %>" href="/about">About</a>
    <a href="questions" class=" text-gray text-2xl font-bold px-6">All questions</a>
    <a class="  text-gray text-2xl font-bold px-6<%= (page == "/TypePage") ? 'active' : '' %>" href="/TypePage">Quizes</a>
  </nav>
